body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* viewportの高さを100%に設定 */
    flex-direction: column; /* 子要素を縦方向に並べる */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}